@import url(./reset.css);

body{
    background-color: #050a2f;
    display: grid;
    grid-template-areas:'header'
                        'article'
                        'footer';
    grid-gap: 1em;
}


header{
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0pt 3pt 10pt #050a2f;
    z-index: 1;
}
header h1{
    margin: 0.5em;
}
header h1 a{
    margin: 0em;
    text-decoration: none;
    color: black;
}
header nav{
    margin: 0em;
    padding-right: 1em;
}
header nav ul{
    margin: 0em;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
}
header nav ul li{
    margin: 1em;
}
header nav ul li a{
    font-size: 18pt;
    text-decoration: none;
    color: black;
}
header nav ul li a::after{
    transition: scale 0.2s ease;
    content: "";
    display: block;
    border: solid 1pt black;
    scale: 0;
}
header nav ul li a:hover::after{
    transition: scale 0.2s ease;
    content: "";
    display: block;
    border: solid 1pt black;
    scale: 0.7;
    box-shadow: 0pt 3pt 10pt #050a2f;
}
#current{
    color: #050a2f;
}
#current::after{
    content: "";
    display: block;
    border: solid 1pt black;
    scale: 1;
    box-shadow: 0pt 3pt 10pt #050a2f;
}

article section{
    display: flex;
    justify-content: space-around;
    height: fit-content;
}
article section section{
    display: flex;
    flex-direction: column;
    justify-content: normal;
    text-align: center;
    border-radius: 0.25em;
    width: 15em;
    min-height: 15em;
    display: flex;
    flex-direction: column;
    margin: 0em;
    font-size: 16pt;
    color: rgb(0, 0, 0);
    background-color: white;
    background-blend-mode: difference;
}
article section section h2{
    background-color: #FAF5D0;
    box-shadow: 0pt 3pt 10pt #050a2f;
}
article section section ul li{
    margin: 1em;
    border-radius: 0.25em;
    list-style: none;
}
article section section ul li::after{
    content: "";
    display: block;
    border: solid 1pt #050a2f6a;
    margin-top: 1em;
    scale: 1;
}
article section section ul li a{
    text-decoration: none;
    color: #050a2f;
    margin:0em;
}

#qualifications{
    width: 25vw;
    font-size: 14pt;
    display: flex;
}
#qualifications dl{
    width: fit-content;
    font-size: 14pt;
    display: flex;
    padding: 1em;
}
#qualifications dl dt{
    margin:0;
    display: flex;
    flex-direction: row;
}
#qualifications dl dt dd{
    margin:0;
    text-align: center;
}

#courses ul li{
    font-size: 14pt;
}

#certifications{
    width: 30vw;
}
#certifications ul li:hover{
    box-shadow: 0pt 3pt 10pt #050a2f;
}
#certifications ul li a div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#certifications ul li a div p{
    padding: 1em;
    margin:0;
    text-align: center;
    font-size: 14pt;
}
#certifications ul li a div figure{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#certifications ul li a div figure img{
    max-width: 7em;
    padding: 0.5em;
}

footer::before{
    content: "";
    display: block;
    border: solid 1pt rgb(255, 255, 255);
    scale: 1;
    box-shadow: 0pt 4pt 10pt #fdfdfd;
}
footer{
    background: linear-gradient(#050a2f, #050a2f);
    padding: 5em;
}
footer div div ul{
    list-style: none;
}
footer div div ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer div div ul li a:hover{
    color: silver;
    text-decoration: none;
}
footer div div div a img{
    width: 2em;
    padding: 0.5em;
}
footer div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div p{
    margin-top: 5em;
    color: rgb(255, 255, 255);
}
footer address{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1em;
}
footer address a{
    color: rgb(62, 134, 189);
    text-align: center;
    margin-top: 1em;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}