@import url(./reset.css);

body{
    background-color: #050a2f;
    display: grid;
    grid-template-areas:'header'
                        'article'
                        'footer';
    grid-gap: 1em;
}


header{
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0pt 3pt 10pt #050a2f;
    z-index: 1;
}
header h1{
    margin: 0.5em;
}
header h1 a{
    margin: 0em;
    text-decoration: none;
    color: black;
}
header nav{
    margin: 0em;
    padding-right: 1em;
}
header nav ul{
    margin: 0em;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
}
header nav ul li{
    margin: 1em;
}
header nav ul li a{
    font-size: 18pt;
    text-decoration: none;
    color: black;
}
header nav ul li a::after{
    transition: scale 0.2s ease;
    content: "";
    display: block;
    border: solid 1pt black;
    scale: 0;
}
header nav ul li a:hover::after{
    transition: scale 0.2s ease;
    content: "";
    display: block;
    border: solid 1pt black;
    scale: 0.7;
    box-shadow: 0pt 3pt 10pt #050a2f;
}
#current{
    color: #050a2f;
}
#current::after{
    content: "";
    display: block;
    border: solid 1pt black;
    scale: 1;
    box-shadow: 0pt 3pt 10pt #050a2f;
}
header #logged_out_side{
    text-align: center;
    margin:auto;
    font-size: 16pt;
    position:fixed;
    left: calc(100vw - 10em);
    top: 5.5em;
    background-color: #FAF5D0;
    border-radius: 0.25em;
    width: 10em;
}
header #logged_out_side a{
    min-width: 10em;
}


header #logged_in_side{
    z-index: 100;
    text-align: center;
    margin:auto;
    font-size: 16pt;
    position:fixed;
    left: calc(100vw - 10em);
    top: 5.5em;
    background-color: #FAF5D0;
    border-radius: 0.25em;
    z-index: 100;
    height: fit-content;
    padding-bottom: 1em;
}
header #logged_in_side p{
    min-width: 10em;
}
header aside a{
    margin:auto;
    text-align: center;
    margin-top: 8em;
    border: solid 1pt #050a2f;
    box-shadow: 0pt 0pt 10pt #050a2f;
    width: fit-content;
}
header aside a:hover{
    border: solid 2pt #050a2f;
    box-shadow: 0pt 0pt 10pt #050a2f;
}
header aside a{
    text-decoration: none;
    color: #050a2f;
    font-size: 16pt;
    padding: 0.1em;
}
header aside form fieldset{
    border: none;
}
header aside form fieldset #monthSubmit{
    background-color: #FAF5D0;
    margin:auto;
    text-align: center;
    margin-top: 1em;
    border: solid 1pt #050a2f;
    box-shadow: 0pt 0pt 10pt #050a2f;
    width: fit-content;
}
header aside form fieldset #monthSubmit:hover{
    border: solid 2pt #050a2f;
    box-shadow: 0pt 0pt 10pt #050a2f;
}
header aside form fieldset #monthSubmit{ 
    text-decoration: none;
    color: #050a2f;
    font-size: 14pt;
    padding: 0.1em;
}

article{
    background-color: rgba(255, 255, 255, 0);
    padding: 2em;
    width: 70vw;
    margin: auto;
}

section{
    background-color: white;
    border-radius: 0.2em;
    margin: 1em;
}
section div h2{
    color: #050a2f;
}
section div{
    padding: 0.05em;
    background-color: #FAF5D0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: #050a2f 0pt 3pt 10pt;
    margin-bottom: 0.5em;
}
section p{
    padding: 0.5em;
}

footer::before{
    content: "";
    display: block;
    border: solid 1pt rgb(255, 255, 255);
    scale: 1;
    box-shadow: 0pt 4pt 10pt #fdfdfd;
}
footer{
    background: linear-gradient(#050a2f, #050a2f);
    padding: 5em;
}
footer div div ul{
    list-style: none;
}
footer div div ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer div div ul li a:hover{
    color: silver;
    text-decoration: none;
}
footer div div div a img{
    width: 2em;
    padding: 0.5em;
}
footer div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div p{
    margin-top: 5em;
    color: rgb(255, 255, 255);
}
footer address{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1em;
}
footer address a{
    color: rgb(62, 134, 189);
    text-align: center;
    margin-top: 1em;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}